body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 28px;
    padding-bottom: 42px;
    font-size: 25px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#successMessage {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick {
    margin-right: 10px;
    font-size: 24px;
}
